h6 {
  margin:0;
}

body {
  background-image:url('../images/dyback.jpg');
  background-color:#fff;
  background-repeat:no-repeat;
  background-attachment:fixed; 
  background-position: top center;
  max-width:960px;
  margin: 0 auto 0 auto;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

ul {
  list-style:none;
  overflow: hidden;
  margin: 0;
}
p.big {line-height:150%;}
p {
    /* color: #66CCFF; */
 } 
nav ul li {
  float:left;
  margin-right:0.50%; /* 4px */
  font-size: 0.9375em; /* 15px */;
}
nav li a {
  border-radius: 6px;
  background: #000 url('../images/gradient.png') repeat-x top left;
  display:block;
  width: auto;
  padding:6px 10px 6px 10px;
  text-align:center;
  text-decoration:none;
  color:#fff;
}
nav a:hover, nav a:active {
  background: #000 url('../images/gradient-hover.png') repeat-x top left;
  color:#1661c8;
}
a {
  color:#1661c8;
}
a:hover, a:active {
  color:#000;
}
h1,h2{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.48);
  color: #000000;
}

  h1,h2,h3{
  font-family: 'Expletus Sans', cursive;
  margin:0;
  padding: 15px 20px 0;
}

header p, footer p{
margin-bottom:0;
padding-bottom:15px;
}

  section {
    background: #fff;
    margin-top: 6px;
    padding: 5px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.5);
 }
 section p {
 text-indent: 30px;
 font-size: 0.875em; /* 14px */
 font-family: 'Roboto', sans-serif;
 margin:10px 20px;
	float:left;
	display:block;
	width: 270px;
 }
 .gallery, .discography, .subscription {
  background:#fff;
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
 }
 .gallery li {
 	  float: left;
    padding: 8px;
    border:2px solid #C0C0C0;
    display:inline;
    
 	}
 	img{
 	max-width:100%;
 	}
 
 aside ul {
  list-style: circle;
 }
 #footer {
  background: rgba(56, 51, 45, 0.98);
  padding: 8px;
  color: #fff;
  letter-spacing:1px;
  margin-top: 14px;
  overflow: hidden;
  width: 100%;

 }
 table {
     border-collapse: collapse;
}     
 td {
     border: 1px solid black;
     
}     
     
 	/* Media Queries */
 
 /* Tablet portrait size */
 	@media screen and (min-width: 768px) and (max-width: 959px){
 	}
 /* Mobile Landscape */	
 	@media only screen and (min-width: 480px) and (max-width: 787px){
 	}
 /* Mobile Portrait */ 	
 	@media screen and (max-width: 479px){
 	}